footer
    border-top 1px solid #ccc
    padding 20px 0 30px
    &.home
        display none
    .center
        display flex
        +mobile()
            display block
    .links
        display flex
        .col
            &:not(:first-child)
                margin-left 24px
        a
            display block
            raleway 12
            + a
                margin-top 3px
            &.principal
                text-transform uppercase
                + .principal
                    margin-top 10px
        +below($tablet)
            display none
    .informacoes
        margin 0 auto
        text-align center
        +tablet()
            margin-left 0
        +mobile()
            text-align left
        img
            display block
            max-width 260px
            margin-bottom 20px
            +mobile()
                width 100%
                max-width 240px
        p
            margin 0
            ptserif 12
            line-height 1.5
    .social
        +mobile()
            margin 20px 0
    .copyright
        margin-left auto
        p
            raleway 9
            margin 0
            a:hover
                text-decoration underline
            + p
                margin-top 1em
