header
    width 100%
    background #fff
    text-align center
    padding 25px 0 10px
    position relative
    &.home
        position absolute
        top 0
        left 0
        z-index 102
    +mobile()
        text-align left
    .logo
        display inline-block
        +mobile()
            width calc('100% - 65px')
            max-width 300px
            img
                width 100%
                display block
    .social
        position absolute
        top 10px
        right 50px
        +tablet()
            right 0
        +mobile()
            right 0
            top 0
    nav
        margin-top 30px
        display flex
        justify-content center
        align-items flex-start
        +mobile()
            justify-content space-between
        > a
        .dropdown > a
            raleway 12
            display block
            position relative
            padding-bottom 10px
            &:after
                content ''
                position absolute
                bottom 0
                left 50%
                width 30px
                transform translateX(-50%)
                height 1px
                background #000
                opacity 0
                transition opacity .3s
            &.active
                &:after
                    opacity 1
        > a:hover:after
            opacity 1
        > a
        > .dropdown
            margin 0 40px
            +mobile()
                margin 0 5px
        .dropdown
            position relative
            &:hover
                .dropdown-nav
                    opacity 1
                    visibility visible
                    transform translateY(0)
        .dropdown-nav
            position absolute
            background #fff
            padding 20px
            left -20px
            z-index 2
            text-align left
            visibility hidden
            opacity 0
            transition all .2s ease-in
            transform translateY(20px)
            a
                display block
                white-space nowrap
                raleway 12
                + a
                    margin-top 3px
                &.active
                    color #666
                &.principal
                    margin-top 20px
                    text-transform uppercase
                &:first-child
                    margin-top 0
