.center
    width desktop-base-width
    position relative
    margin 0 auto
    +below($tablet)
        width 90%

.social
    font-size 0
    a
        display inline-block
        width 20px
        height 20px
        transition background .3s
        &.instagram
            background $img('ico-instagram.png') no-repeat left -1px;
        &.facebook
            background $img('ico-facebook.png') no-repeat left top;
        &:hover
            background-position left bottom
        + a
            margin-left 4px

.conteudo
    padding 35px 0 80px
    +tablet()
        padding 25px 0 60px
    +mobile()
        padding 15px 0 30px
