desktop-base-width     = 1300px
rupture.desktop-cutoff = $tablet = 1360px
rupture.mobile-cutoff  = $mobile = 768px
rupture.anti-overlap   = -1px

@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,700|Raleway:500,700')

ptserif($size, $weight = normal)
    font-size $size + 0px
    font-family 'PT Serif', 'Georgia', serif
    font-weight 400
    if $weight == bold
        font-weight 700

raleway($size, $weight = 500)
    font-size $size + 0px
    font-family 'Raleway', 'Helvetica', 'Arial', sans-serif
    font-weight 500
    if $weight == bold
        font-weight 700
