.clipping
    .thumbs
        clearfix()
        a
            display block
            width 298px
            height 0
            padding-bottom 30.5%
            margin-right 20px
            margin-bottom 20px
            position relative
            float left
            overflow hidden
            &:nth-child(4n)
                margin-right 0
            +tablet()
                width calc('33.333% - 13.333px')
                padding-bottom 42%
                &:nth-child(4n)
                    margin-right 20px
                &:nth-child(3n)
                    margin-right 0
            +mobile()
                width calc('50% - 7.5px')
                margin-right 15px
                margin-bottom 15px
                padding-bottom 64%
                &:nth-child(4n)
                    margin-right 15px
                &:nth-child(2n)
                    margin-right 0
            img
                width 100%
                display block
            .overlay
                position absolute
                width 100%
                height 100%
                top 0
                left 0
                background rgba(#fff, .5)
                opacity 0
                transition opacity .3s
            .box
                position absolute
                width 100%
                height 100%
                top 0
                left 0
                background #E5E5E5
                transition background .3s
                .titulo
                    position absolute
                    top 0
                    left 0
                    width 100%
                    height calc('100% - 75px')
                    display flex
                    flex-direction column
                    justify-content center
                    align-items center
                    raleway 16
                    text-transform uppercase
                    padding 0 20px
                    line-height 1.5
                    text-align center
                    transition color .3s
                    +tablet()
                        font-size 15px
                        height calc('100% - 60px')
                    +mobile()
                        font-size 13px
                        height calc('100% - 50px')
            .ico-link
                position absolute
                z-index 2
                width 30px
                height 30px
                background $img('ico-clipping-link.png') no-repeat center top
                bottom 75px
                left 50%
                transform translateX(-50%)
                +tablet()
                    bottom 50px
                    width 25px
                    height 25px
                    background-size 100% auto
                +mobile()
                    bottom 30px
                    width 20px
                    height 20px
                    background-size 100% auto
            &:hover
                .overlay
                    opacity 1
                .box
                    background #7F7F7F
                    .titulo
                        color #fff
                .ico-link
                    background-position center bottom
