.contato
    .center
        clearfix()
    .informacoes
        width 30.76%
        float left
        img
            display block
            max-width 100%
        .telefone
            raleway 22
            margin .8em 0 .45em
        .endereco
            raleway 16
            margin 0
        a
            raleway 16
            display block
            margin-top 40px
            &:hover
                text-decoration underline
        +tablet()
            width 45%
            .telefone
                font-size 20px
            .endereco
            a
                font-size 15px
        +mobile()
            width 100%
            margin-bottom 35px
            .telefone
                font-size 20px
                margin-top .5em
            .endereco
            a
                font-size 14px
            a
                margin-top 15px
    form
        width 50%
        float right
        clearfix()
        h3
            raleway 16
            margin 0 0 1.4em
        +tablet()
            width 45%
            h3
                font-size 15px
        +mobile()
            width 100%
            h3
                font-size 14px
                margin-bottom 1.2em
        .erro
        .enviado
            raleway 12
            text-transform uppercase
            letter-spacing 1px
            padding 15px
            text-align center
            margin-bottom 15px
            border-radius 3px
        .enviado
            border 1px solid #000
            background #000
            color #fff
        .erro
            border 1px solid #d24e4e
            color #ca1919
        input[type=text]
        input[type=email]
        textarea
            display block
            width 100%
            border 1px solid #ccc
            margin-bottom 2px
            outline 0
            raleway 14
            padding 10px
            +placeholder()
                color #666
        textarea
            resize none
            height 160px
        input[type=submit]
            float right
            background transparent
            border 0
            outline 0
            cursor pointer
            raleway 16
            padding 0
            margin-top 15px
    .mapa
        width 100%
        height 750px
        border-top 1px solid #ccc
        margin-top 65px
        +tablet()
            height 450px
            margin-top 45px
        +mobile()
            height 300px
            margin-top 30px
        iframe
            width 100%
            height 100%
            display block
