.banners
    position absolute
    width 100%
    height 100%
    top 0
    left 0
    background $img('loading.gif') no-repeat center
    .banner
        width 100%
        height 100%
        background-size cover
        background-position center
        position relative
    .seta
        position absolute
        bottom 45px
        left 50%
        transform translateX(-50%)
        width 49px
        height 26px
        background $img('seta-scrolldown.png') no-repeat center
        transition transform .3s
        z-index 102
        &:hover
            transform translateX(-50%) translateY(6px)
