.logo-abertura
    position absolute
    width 100%
    height 100%
    top 0
    left 0
    display flex
    justify-content center
    align-items center
    background #000
    div
        display block
        max-width 90%
        img
            display block
            width 100%

