.perfil
    .center
        clearfix()
    .livia
        width 47.5%
        float left
        +tablet()
            width 100%
            margin-bottom 50px
        +mobile()
            width 100%
            margin-bottom 30px
    .arquitetos
        width 47.5%
        float right
        .arquiteto + .arquiteto
            margin-top 80px
        +tablet()
            width 100%
            .arquiteto + .arquiteto
                margin-top 50px
        +mobile()
            width 100%
            .arquiteto + .arquiteto
                margin-top 30px
    .livia
    .arquiteto
        display flex
        align-items flex-start
        img
            margin-right 15px
        .texto
            h3
                ptserif 16
                margin 0 0 1em
                text-transform uppercase
            p
                raleway 14
                margin 0
                line-height 1.5
                + p
                    margin-top 1em
            +tablet()
                max-width 500px
        +mobile()
            display block
            img
                margin 0 0 10px
                max-width 100%
            .texto
                max-width 500px
                h3
                    font-size 15px
    .empresa
        width 100%
        float left
        margin-top 100px
        clearfix()
        .texto
            width 47.5%
            float left
            p
                raleway 16
                margin 0
                line-height 1.5
                + p
                    margin-top 1em
        .imagens
            width 47.5%
            float right
            clearfix()
            img
                display block
                width calc('50% - 10px')
                float left
                margin-right 20px
                margin-bottom 20px
                &:nth-child(2n)
                    margin-right 0
                &:nth-child(3)
                &:nth-child(4)
                    margin-bottom 0
        +tablet()
            margin-top 80px
            .texto
                width 100%
                margin-bottom 30px
            .imagens
                float left
                width 100%
                max-width 615px
        +mobile()
            margin-top 50px
            .texto
                width 100%
                margin-bottom 20px
                p
                    font-size 15px
            .imagens
                width 100%
                max-width 615px
                float left
