.projetos
    h2
        text-align center
        raleway 16
        margin 0 0 52px
        text-transform uppercase
        +tablet()
            margin-bottom 40px
        +mobile()
            margin-bottom 25px
            font-size 14px
            text-align left
    .thumbs
        a
            display block
            width 100%
            position relative
            + a
                margin-top 50px
                +tablet()
                    margin-top 25px
                +mobile()
                    margin-top 15px
            img
                width 100%
                display block
            &:hover .overlay
                opacity 1
            .overlay
                position absolute
                width 100%
                height 100%
                background rgba(#fff, .5)
                top 0
                left 0
                display flex
                flex-direction column
                justify-content center
                align-items center
                opacity 0
                opacity .3s
                transition opacity .3s
                span
                    display block
                    &:first-child
                        ptserif 28
                    &:last-child
                        raleway 14
                        margin-top 10px
                +below($tablet)
                    opacity 1
                +tablet()
                    span:first-child
                        font-size 22px
                +mobile()
                    span:first-child
                        font-size 20px
                    span:last-child
                        font-size 13px
                        margin-top 8px
    .informacoes
        width 100%
        display flex
        .texto
            width 440px
            display flex
            align-items center
            text-align right
            padding-right 54px
            flex-shrink 0
            .wrapper
                width 100%
            h1
                ptserif 24
                margin 0
            span
                raleway 14
                display block
                margin-top 10px
            .descricao
                margin-top 55px
                raleway 16
                p
                    margin 0
                    + p
                        margin-top 1em
        img
            align-self flex-start
            max-width 100%
        +below($tablet)
            display block
        +tablet()
            .texto
                margin 0 auto 30px
                text-align center
                max-width 560px
                padding 0
                .descricao
                    margin-top 30px
                    font-size 15px
            img
                max-width 100%
                display block
                margin 0 auto
        +mobile()
            .texto
                width 100%
                margin 0 0 25px
                text-align left
                max-width 560px
                padding 0
                .descricao
                    margin-top 20px
                    font-size 14px
            img
                max-width 100%
                display block
                margin 0
    .imagens
        margin-top 20px
        img
            display block
            margin-top 20px
            &:nth-child(even)
                margin-left auto
        +tablet()
            margin-top 15px
            img
                max-width 100%
                margin-top 15px
                margin-left auto
                margin-right auto
        +mobile()
            margin-top 10px
            img
                max-width 100%
                margin 10px 0 0 !important
    .navegacao
        border-top 1px solid #ccc
        padding-top 25px
        margin-top 65px
        text-align center
        font-size 0
        a
            raleway 16
            padding-left 18px
            + a
                margin-left 40px
            &.voltar
                background $img('seta-voltar.png') no-repeat left center
            &.topo
                background $img('seta-topo.png') no-repeat left center
        +tablet()
            margin-top 45px
        +mobile()
            margin-top 25px
            a
                font-size 14px
